nav a {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    transition: color 0.3s ease;
    font-size: 22px;
    margin: 0 15px; 
    font-family: 'Fredoka One', sans-serif;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: -1; 
    transition: transform 0.3s ease;
    transform: scaleX(0); 
    transform-origin: left;
    border-radius: 5px;
    height: 25px;
    margin-top: 10px;
}

nav a:hover {
    color: black; 
}

nav a:hover::before {
    transform: scaleX(1); 
}

nav {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(1);
}